{% extends 'base_layout.html' %}
{% block title %} {{ ticker }} Financials {% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <img src="https://quickchart.io/chart?width=500&height=200&c={{chart_params}}" />
    </div>

    <table class="table mt-4">

        <thead>
        <tr>
            <th scope="col">As Of</th>
            <th scope="col">Revenue</th>
            <th scope="col">Gross Margin</th>
            <th scope="col">ESP</th>
        </tr>
        </thead>

        <tbody>
        {% for quarter in financials | reverse %}
        <tr>
            <th scope="row">{{ quarter["date"] }}</th>
            <td>{{ "${:,.2f}".format(quarter["revenue"] | float) }}</td>
            <td>{{ ((quarter["grossProfitRatio"] | float) * 100) | round(2) }}%</td>
            <td>${{ quarter["eps"] | float | round(3) }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}