<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}View Stock Price{% endblock %} - Stock App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="{{ url_for('home_page') }}" class="navbar-brand">Stock App</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.url_rule.endpoint == 'home_page' %} active {% endif %}">
                    <a href="{{ url_for('home_page') }}" class="nav-link">Home</a>
                </li>
            </ul>
    </nav>

    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>

</body>
</html>