{% extends 'base_layout.html' %}
{% block title %} {{ ticker }} Financials {% endblock %}

{% block content %}
<div class="container">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">As Of</th>
            <th scope="col">Revenue</th>
            <th scope="col">Gross Margin</th>
            <th scope="col">ESP</th>
        </tr>
        </thead>

        <tbody>
        {% for quarter in financials | reverse %}
        <tr>
            <th scope="row">{{ quarter["date"] }}</th>
            <td>{{ "${:,.2f}".format(quarter["revenue"] | float) }}</td>
            <td>{{ quarter["grossProfitRatio"] | float | round(3) }}</td>
            <td>${{ quarter["eps"] }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}